<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta name="yandex" content="noindex, nofollow">
    <meta name="google" content="noindex">
    <meta name="duckduckgo" content="noindex">
    <meta charset="UTF-8">
    <title>Massage Counter by Faralaks |  Войдите в систему</title>
    <style>
        body {
            background: black;
            align-content: center;
            text-align: center;
        }
        body, input {
            font-size: 2em;
            font-family: Arial, serif;
            outline: 5px black solid;
        }
        #loginDiv {
            background: white;
            width: 50%;
            margin: 20% 25% 0 30%;

        }

    </style>
</head>
<body>
        <form id="loginDiv" action="{{ url_for('login') }}" method="post">
            <label>Введите Логин<br>
                <input type="text" maxlength="32" name="login" placeholder="Введите Логин" style="width: 80%">
            </label>
            <br>
            <label>Введите Пароль<br>
                <input type="password" maxlength="32" name="password" placeholder="Введите Пароль" style="width: 80%">
            </label>
            <br>

            <input type="submit" value="Войти">

        </form>

</body>
</html>